#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>

/*
 * Wiring group A (ST7735S, 8-pin):
 * SCL/SCK -> GPIO18 (SPI3 SCK)
 * SDA/MOSI -> GPIO23 (SPI3 MOSI)
 * CS -> GPIO5
 * DC -> GPIO21
 * RES -> GPIO22
 * BLK -> GPIO4 (board-side backlight control, if used)
 */

/ {
    chosen {
        zephyr,display = &st7735s;
    };

    mipi_dbi_st7735s {
        compatible = "zephyr,mipi-dbi-spi";
        spi-dev = <&spi3>;
        dc-gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
        write-only;
        #address-cells = <1>;
        #size-cells = <0>;

        st7735s: st7735r@0 {
            compatible = "sitronix,st7735r";
            reg = <0>;
            mipi-max-frequency = <20000000>;
            mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";

            width = <128>;
            height = <160>;
            x-offset = <2>;
            y-offset = <1>;

            madctl = <0x00>;
            colmod = <0x05>;
            vmctr1 = <0x1a>;
            invctr = <0x03>;
            pwctr1 = [28 08 04];
            pwctr2 = [c0];
            pwctr3 = [0d 00];
            pwctr4 = [8d 2a];
            pwctr5 = [8d ee];
            frmctr1 = [05 3c 3c];
            frmctr2 = [05 3c 3c];
            frmctr3 = [05 3c 3c 05 3c 3c];
            caset = [00 00 00 7f];
            raset = [00 00 00 9f];
            gamctrp1 = [04 22 07 0a 2e 30 25 2a 28 26 2e 3a 00 01 03 13];
            gamctrn1 = [04 16 06 0d 2d 26 23 27 27 25 2d 3b 00 01 04 13];
            inversion-on;
        };
    };
};

&spi3 {
    status = "okay";
    cs-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
};
